<form
  [formGroup]="editChannelForm"
  (ngSubmit)="editChannel()"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 font-sans"
>
  <div class="bg-[#313338] rounded-lg shadow-lg w-full max-w-md p-6">
    <div class="flex justify-end">
      <button
        type="button"
        class="text-gray-400 hover:text-white"
        (click)="onClose()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <div class="mb-4">
        <h3 class="text-xs font-semibold mb-4 text-gray-300">LOẠI KÊNH</h3>
        <div class="flex flex-col justify-between space-y-2 mb-3">
          <label class="flex items-center p-3 bg-[#2b2d31] rounded mb-1">
            <span class="material-icons text-gray-400">tag</span>
            <div class="ml-2">
              <span class="text-gray-200">Văn bản</span>
              <p class="text-xs text-gray-400 mr-2">
                Gửi tin nhắn, hình ảnh, ảnh GIF, emoji, ý kiến, và chơi chữ
              </p>
            </div>
            <input
              type="radio"
              formControlName="type"
              [ngModel]="type"
              [value]="ChannelType.TextChannels"
              class="form-radio text-gray-200"
            />
          </label>
          <label class="flex items-center p-3 bg-[#2b2d31] rounded">
            <span class="material-icons text-gray-400">volume_up</span>
            <div class="ml-2">
              <span class="text-gray-200">Giọng nói</span>
              <p class="text-xs text-gray-400 mr-2">
                Cùng gặp mặt bằng gọi thoại, video, và chia sẻ màn hình
              </p>
            </div>
            <input
              type="radio"
              formControlName="type"
              [ngModel]="type"
              [value]="ChannelType.AudioChannels"
              class="form-radio text-gray-200"
            />
          </label>
        </div>
      </div>
      <div class="mb-4">
        <h3 class="text-xs font-semibold mb-4 text-gray-300">TÊN KÊNH</h3>
        <input
          type="text"
          formControlName="name"
          class="w-full bg-[#1e1f22] text-white p-2 rounded"
          [(ngModel)]="name"
        />
      </div>

    <div class="flex justify-between">
      <button
        type="button"
        class="text-gray-300 hover:text-white text-sm"
        (click)="onClose()"
      >
        Trở lại
      </button>
      <button
        role="submit"
        class="bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-600 text-sm"
      >
        Lưu
      </button>
    </div>
  </div>
</form>
