<div
    class="bg-[#2e3136] w-full sm:w-3/4 md:w-1/2 min-h-screen p-4 sm:p-8 text-white font-sans overflow-auto custom-scroll">
    <div class="max-w-3xl mx-auto">
        <div class="flex flex-col md:flex-row items-center justify-between">
            <h1 class="text-lg md:text-xl font-medium">Gói đăng ký của bạn</h1>
            <button class="flex flex-col items-center text-gray-400 hover:text-white mt-5" routerLink="/home">
                <div class="w-8 h-8 flex items-center justify-center border border-gray-400 rounded-full mb-1">
                    <span class="text-xl pb-1">×</span>
                </div>
                <span class="text-xs">ESC</span>
            </button>
        </div>

        <div class="text-base   text-gray-400 mb-6">
            Đây là những đăng ký hiện tại của bạn. Chúng sẽ được tính phí trong cùng một chu kỳ thanh toán. Bạn có thể
            cập nhật đăng ký bất cứ lúc nào.
        </div>

        <div class="text-base font-semibold flex items-center  text-gray-200 mb-12">
            <svg class="ml-5 mr-2" aria-hidden="true" role="img"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd"
                    d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm6.81 7c-.54 0-1 .26-1.23.61A1 1 0 0 1 8.92 8.5 3.49 3.49 0 0 1 11.82 7c1.81 0 3.43 1.38 3.43 3.25 0 1.45-.98 2.61-2.27 3.06a1 1 0 0 1-1.96.37l-.19-1a1 1 0 0 1 .98-1.18c.87 0 1.44-.63 1.44-1.25S12.68 9 11.81 9ZM13 16a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm7-10.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM18.5 20a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM7 18.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM5.5 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                    clip-rule="evenodd" class=""></path>
            </svg>
            Bạn không có gói đăng ký nào đang hoạt động
        </div>

        <div class="text-base font-semibold text-gray-200 mb-2">
            Tín Dụng Đăng Ký
        </div>

        <div class="text-base   text-gray-400 mb-6">
            Nếu bạn nhận quà khi đang dùng sẵn một gói đăng ký, hoặc nhận quà khác với đăng ký hiện tại, món quà đó sẽ xuất hiện ở đây dưới dạng tín dụng.
        </div>

        <div class="text-base font-semibold flex items-center  text-gray-200 mb-12">
            <svg class="ml-5 mr-2" aria-hidden="true" role="img"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd"
                    d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm6.81 7c-.54 0-1 .26-1.23.61A1 1 0 0 1 8.92 8.5 3.49 3.49 0 0 1 11.82 7c1.81 0 3.43 1.38 3.43 3.25 0 1.45-.98 2.61-2.27 3.06a1 1 0 0 1-1.96.37l-.19-1a1 1 0 0 1 .98-1.18c.87 0 1.44-.63 1.44-1.25S12.68 9 11.81 9ZM13 16a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm7-10.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM18.5 20a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM7 18.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM5.5 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                    clip-rule="evenodd" class=""></path>
            </svg>
            Bạn không có gói đăng ký nào đang hoạt động
        </div>

        <div class="h-px bg-neutral-600 my-4 mr-6"></div>
    </div>
</div>