<div class="pr-4">
  <ul class="mt-2 space-y-1">
    <li>
      <button
        class="flex items-center w-full text-left hover:bg-[#3a3d42] p-2 rounded group"
      >
        <span class="material-icons text-gray-400">{{
          type === "TEXT" ? "tag" : "volume_up"
        }}</span>
        <span class="ml-2">{{ name }}</span>

        <span class="ml-auto hidden group-hover:flex space-x-2">
          <span
            (click)="openDialog()"
            class="material-icons text-gray-400 hover:text-white cursor-pointer"
            >edit</span
          >
          <span
            (click)="openDialogInviteCode()"
            class="material-icons text-gray-400 hover:text-white cursor-pointer"
            >person_add</span
          >
        </span>
      </button>
    </li>
  </ul>
</div>
